@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: #ffe17f;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Header */
.main-header {
  color: #000000;
  background-color: #ffe17f;
}

.main-header-container {
  padding: 0 40px;
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.header-logo-top {
  position: absolute;
  width: 145px;
}

.header-search-user-actions {
  display: flex;
  width: 1041px;
  margin: 0 auto;
}

.page-header-top {
  width: 515px;
  margin-right: 26px;
}


.header-search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
}


.header-search-text {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

.user-actions {
  margin-left: auto;
  max-width: 497px;
}

.user-actions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-actions-link {
  color: #000000;
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.navigation-catalog-option {
  display: flex;
  width: 1041px;
  margin: 0 auto;
}

.navigation-catalog {
  width: 293px;
  margin-right: 276px;
}

.navigation-option {
  margin-left: auto;
  max-width: 472px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Slider */
.slider {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.slider-navigation {
  width: 560px;
}

.slider-image {
  /* width: 560px; */
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

/* Title */
.slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider-gallery-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-gallery-item {
  display: flex;
  justify-content: space-between;
}

.slider-image-container {
  width: 560px;
}

.slider-text-container {
  width: 560px;
}

/* Table */
table th {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

table td {
  font-size: 16px;
  color: #444444;
}

/* Category */
.category-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.category-item {
  width: 160px;
}

.category-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.category-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

/* Advantages */

.advantages {
  background-color: #ffffff;
  /* Цвет фона */
  background-image: linear-gradient(transparent 50%, #f0f0f0 50%);
}

.advantages .page-container {
  display: flex;
  justify-content: space-between;
}

.advantages-button-slider {
  width: 287px;
}

.advantages-slider {
  width: 757px;
}

.advantages-slider-item {
  padding-right: 300px;
}

.advantages-button-list {
  list-style-type: none;
}

.advantages-button {
  font-weight: 800;
  letter-spacing: 0.2em;
}

.advantages-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.advantages-slider-description {
  color: #444444;
}

.company-info {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 520px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.contacts {
  width: 532px;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-description {
  color: #444444;
  background-color: #ffffff;
}

.contacts-description {
  color: #444444;
  background-color: #ffffff;
}

.about-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts-address {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-schedule {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

/* Mailing */

.mailing-subscription {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

.mailing-title {
  width: 348px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.mailing-text-container {
  width: 560px;
}

.mailing-form-container {
  display: flex;
  justify-content: space-between;
}

.mailing-form-type {
  width: 810px;
}

.email-text {
  width: 557px;
  color: #444444;
  opacity: 0.5;
}

.mailing-button {
  width: 253px;
  align-items: center;
  background-color: #ffffff;
}

.mailing-benefit {
  width: 160px;
  color: #444444;
}

/* Delivery */
.delivery-link-section {
  width: 1160px;
  margin: 0 auto;
  background: #f0f0f0;
}

.delivery-link {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}


/* Footer */
.main-footer .page-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo-address {
  width: 250px;
}

.footer-services-social {
  width: 444px;
}

.footer-services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-phone-logo {
  width: 250px;
}

.footer-address-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.main-footer {
  background-color: #444444;
}

.contacts-phone {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}


/* Catalog */


/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 19px;
}

.catalog-products .page-container {
  display: flex;
  justify-content: space-between;
}

.catalog-products-list {
  width: 840px;
}

.catalog-filter {
  width: 220px;
  margin-right: 40px;
}

.catalog-filter-value {
  width: 320px;
}

/* .catalog-filter-sorting {
  width: ;
} */

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.user-actions-link__logout {
  opacity: 0.3;
}

.main-inner {
  background-color: #f0f0f0;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.catalog-filter-title {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-item {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter .button {
  letter-spacing: 0.2em;
}

.catalog-filter-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.button-up,
.button-down {
  background-color: #f0f0f0;
}

.product-list {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
}

/* Link */
.product-card-link {
  text-decoration: none;
  color: #000000;
}

/* Title */
.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

/* Price */
.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-show-more {
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  background-color: #ffffff;
}

/* Pagination */
.pagination {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  list-style-type: none;
}

.button-back {
  color: #000000;
  background-color: #ebebeb;
  font-size: inherit;
  line-height: inherit;
}

.button-forward {
  color: #000000;
  background-color: #ebebeb;
  font-size: inherit;
  line-height: inherit;
}

/* Link */
.pagination-link {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
}
